html {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #222;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 1250px;
  margin: 0;
  padding: 5px;
}

.build-your {
  font-size: 25px;
  font-weight: 400;
  margin: 40px 0 10px 0;
  text-transform: uppercase;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 50px 0;
  text-align: center;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 55px;
  margin: 0;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  line-height: 50px;
  margin: 50px 0 60px 0;
}

h3 {
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  margin: 50px 0;
}

h4 {
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
  margin: 50px 15%;
}

p {
  font-family: Sans-Serif;
  font-size: 25px;
  font-weight: 300;
  margin: 50px 0;
  word-wrap: break-word;
  line-height: 44px;
}

.number {
  display: block;
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
  margin: 20px 0;
}

.progress {
  font-weight: 400;
  font-style: italic;
  font-size: 40px;
}

.cta {
  display: inline-block;
  border: 2px solid;
  padding: 20px 30px;
}

.important {
  font-style: italic;
}

.social-link {
  font-size: 40px;
  text-decoration: none;
  margin: 0 20px;
}

.social-link:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  color: black;
  padding-bottom: 1px;
  border-bottom: 1px solid #777;
}

a:hover {
  text-decoration: none;
  color: black;
  padding-bottom: 1px;
  border-bottom: 1px solid #777;
}

.story {
  display: block;
  margin: 50px 0;
  font-style: italic;
}

.story .fa {
  display: block;
  margin: 0 0 5px 0;
  font-size: 20px;
}

.navigation {
  margin-top: 15px;
  text-align: center;
}

@media (max-width: 1400px) {
  .navigation {
    display: block;
  }
}

.navigation a {
  margin: 0 10px;
  border-bottom: 0;
  white-space: nowrap;
  font-family: Sans-Serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  color: #555;
}

.navigation a:first-of-type {
  margin-left: 0;
}

.navigation a:last-of-type {
  margin-right: 0;
}

.navigation a:hover {
  text-decoration: none;
  color: #000;
}

.go-next {
  margin: 50px 0;
  font-size: 23px;
}

.comments {
  margin: 50px 0;
}

.written-by {
  font-size: 16px;
  text-align: center;
  color: #777;
  margin: 20px 0 60px 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-family: "IBM Plex Serif", serif;
  font-size: 25px;
  font-weight: 100;
  line-height: 40px;
}

.footer-navigation {
  margin: 50px 0 0 0;
}

.footer-navigation a {
  border-bottom: 0;
  margin: 0 10px;
  white-space: nowrap;
  font-family: Sans-Serif;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 50px;
  color: #555;
}

.footer-navigation a:hover {
  text-decoration: none;
  color: #000;
}

.copyright {
  font-family: Sans-Serif;
  text-transform: uppercase;
  margin: 0 0 50px 0;
  white-space: nowrap;
  font-size: 16px;
  line-height: 50px;
  color: #999;
}

.photos {
  text-align: center;
}

img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;

  padding: 0;
  margin: 50px 0;
}

.photos img:first-of-type {
  margin-top: 0;
}
